/*
* Style Works for both Editor and Frontend
*/

iframe.lazy:not(.lazy-loaded),
.bdt-lazy-loading {
	background: rgba(152, 152, 152, .07);
	background-image: url('../../../includes/assets/images/loader.gif');
	background-repeat: no-repeat;
	background-position: center
}

.wp-block-wpxero-iframe-iframe {
	position: relative;

	iframe {
		overflow: hidden !important;
		border: none !important;
	}
}